<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Rutas</title>
        <h:outputStylesheet name="css/styles.css"/>
    </h:head>
    <h:body>
        <h:form>
        <div align="center">
            <h1>RUTAS PARA MAÑANA</h1></div>
   
            <BR/>
            <p:dataTable value="#{usuarioController.relacion_entrega}" var="item" styleClass="table" paginator="true" >
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="CAMION"/>
                    </f:facet>
                    <h:outputText value="#{item.id_camion}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="CALLE"/>
                    </f:facet>
                    <h:outputText value="#{item.calle}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="NUMERO"/>
                    </f:facet>
                    <h:outputText value="#{item.numero}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="COLONIA"/>
                    </f:facet>
                    <h:outputText value="#{item.colonia}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="MAQUINARIA"/>
                    </f:facet>
                    <h:outputText value="#{item.maquinaria}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="CANTIDAD"/>
                    </f:facet>
                    <h:outputText value="#{item.cantidad}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="PESO"/>
                    </f:facet>
                    <h:outputText value="#{item.peso}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="ENTREGA"/>
                    </f:facet>
                    <h:outputText value="#{item.h_entrega}"/>
                </p:column>
            </p:dataTable>
            
        </h:form>
    </h:body>
</html>

